body {
 background-size: cover;
 background-color: lightblue;
 }

*[role="form"] {
 max-width: 530px;
 padding: 15px;
 margin: 0 auto;
 border-radius: 0.3em;
 background-color: #f2f2f2;
}

*[role="form"] h2 { 
 font-family: 'Open Sans' , sans-serif;
 font-size: 40px;
 font-weight: 600;
 color: #000000;
 margin-top: 5%;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 4px;
}
.logo{
    height:100px;
    width:auto;
    float:left;
    margin-top:20px;
}
.results .result-json-output {
    position: absolute;
    float:center;
    width: 1500px;
    height: 40px;
    border: 3px solid green;
    color: #0000ff;
  }
  .results1 .result-json-output1 {
    position: absolute;
    float:center;
    width: 1500px;
    height: 40px;
    color: #0000ff;
  }

